<!DOCTYPE html>
<html>
  <title>W3.CSS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <body>
    <div class="w3-container">
      <h2>Hoverable Table</h2>

      <table class="w3-table-all w3-hoverable">
        <thead>
          <tr class="w3-light-grey">
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Actions</th>
          </tr>
        </thead>
        <% for(let i= 0; i < dataTable.length; i++) {%>
        <tr>
          <th><%= dataTable[i].email%></th>
          <th><%= dataTable[i].firstName%></th>
          <th><%= dataTable[i].lastName%></th>
          <th><%= dataTable[i].address%></th>
          <th>
            <a href="edit-crud?id=<%= dataTable[i].id %>" class="btn-edit"
              >Edit</a
            >
            <a href="delete-crud?id=<%= dataTable[i].id %>" class="btn-add"
              >Delete</a
            >
          </th>
        </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>
